<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Archivo de Subastas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="container nav">
            <a class="brand" href="{{ url_for('index') }}">Archivo de Subastas</a>

            <nav>
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('coleccion') }}">Colección</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
